body{
    padding-top: 50px;
}
#navbar ul li:hover{
    background-color: #080808;
}
.dropdown-menu{
    background-color: #080808;
    
}
.dropdown-menu li a{
    color:white;
}
.dropdown-menu li.dropdown-header{
    color: white;
}
.jumbotron{
    background-image: url(../images/thai1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumb_about{
background-image: url(../images/thai2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.jumb_contact{
    background-image: url(../images/thai3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    
  
}
.affix{
    top:100px;
}