body{
    padding-top: 50px;
}
#navbar ul li:hover{
    background-color: #080808;
}
.dropdown-menu{
    background-color: #080808;
    
}
.dropdown-menu li a{
    color:white;
}
.dropdown-menu li.dropdown-header{
    color: white;
}
.jumbotron{
    background-image: url(../images/thai7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
.jumb_about{
background-image: url(../images/thai5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.jumb_contact{
    background-image: url(../images/thai8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.jumb_menu{
     background-image: url(../images/thai9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    
  
}
.affix{
    top:100px;
}